@model DealershipMgr.Models.Salesperson

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Salesperson</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HireDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HireDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalesYtd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalesYtd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalesGoal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalesGoal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MetSalesGoal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetSalesGoal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manager.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manager.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location.LocationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.LocationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => Model.Clients)
        </dt>

        <dd>
            @{
                foreach (var client in Model.Clients)
                {
                    @client.ClientID @:  @client.FullName <br />
                }
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
