@model DealershipMgr.Models.Location

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Location</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LocationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalesYtd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalesYtd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalesGoal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalesGoal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MetSalesGoal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetSalesGoal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => Model.Salespersons)
        </dt>

        <dd>
            @{
                foreach (var salesperson in Model.Salespersons)
                {
                    @salesperson.ID @:  @salesperson.FullName <br />
                }
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LocationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
