@model IEnumerable<DealershipMgr.Models.Location>

@{
    ViewBag.Title = "Index";
}

<h2>Locations</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LocationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalesYtd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalesGoal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MetSalesGoal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salespersons)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LocationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalesYtd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalesGoal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MetSalesGoal)
        </td>
        <td>
            @{
                foreach (var salesperson in item.Salespersons)
                {
                    @salesperson.ID @:  @salesperson.FullName <br />
                }
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LocationID }) |
            @Html.ActionLink("Details", "Details", new { id=item.LocationID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LocationID })
        </td>
    </tr>
}

</table>
